In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already satisfied: sklearn in c:\users\cindy\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\cindy\anaconda3\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\cindy\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.19.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\cindy\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\cindy\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\cindy\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.0)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\cindy\anaconda3\lib\site-packages (1.0.0)

In [13]:
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [14]:
df = pd.read_csv("./Resources/merged12_update.csv")
# Drop the null columns where all values are null
#df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df.replace(np.nan, 0)
df.head()

,GAME_SEQUENCE,GAME_ID,TEAM_ID,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,Playoffs
0,1,21200001,1610612764,24,15,23,22,0,0,0,0,84,0.356,0.600,0.250,26,39,12,0
1,1,21200001,1610612739,31,19,24,20,0,0,0,0,94,0.456,0.682,0.350,22,54,20,0
2,2,21200002,1610612738,25,29,22,31,0,0,0,0,107,0.520,0.821,0.462,24,41,15,1
3,2,21200002,1610612738,25,29,22,31,0,0,0,0,107,0.520,0.821,0.462,24,41,15,1
4,2,21200002,1610612738,25,29,22,31,0,0,0,0,107,0.520,0.821,0.462,24,41,15,1

# Create a Train Test Split

Use `Playoffs` for the y values

In [18]:
y=df["Playoffs"]
X=df.drop(columns=["Playoffs"])
X.head()

,GAME_SEQUENCE,GAME_ID,TEAM_ID,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,1,21200001,1610612764,24,15,23,22,0,0,0,0,84,0.356,0.600,0.250,26,39,12
1,1,21200001,1610612739,31,19,24,20,0,0,0,0,94,0.456,0.682,0.350,22,54,20
2,2,21200002,1610612738,25,29,22,31,0,0,0,0,107,0.520,0.821,0.462,24,41,15
3,2,21200002,1610612738,25,29,22,31,0,0,0,0,107,0.520,0.821,0.462,24,41,15
4,2,21200002,1610612738,25,29,22,31,0,0,0,0,107,0.520,0.821,0.462,24,41,15

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [20]:
X_train.shape, X_test.shape

((11316, 18), (3772, 18))

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [21]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Train the Model

In [22]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [23]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression()

In [24]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.9220572640509014
Testing Data Score: 0.9244432661717922