In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("2018-19/raw_scores.txt")
df2 = pd.read_csv("2018-19/vegas_playoff.txt")

In [3]:
df1

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,0,87,0.391,0.609,0.192,18,47,16
1,2018-10-16,1,21800001,1610612738,BOS,Boston,1-0,21,26,30,...,0,0,0,105,0.433,0.714,0.297,21,55,14
2,2018-10-16,2,21800002,1610612760,OKC,Oklahoma City,0-1,23,24,32,...,0,0,0,100,0.363,0.649,0.270,21,45,14
3,2018-10-16,2,21800002,1610612744,GSW,Golden State,1-0,31,26,26,...,0,0,0,108,0.442,0.944,0.269,28,58,21
4,2018-10-17,1,21800003,1610612749,MIL,Milwaukee,1-0,36,31,26,...,0,0,0,113,0.494,0.750,0.412,26,57,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2019-04-10,9,21801228,1610612743,DEN,Denver,54-28,22,29,22,...,0,0,0,99,0.448,0.647,0.303,23,53,12
2456,2019-04-10,10,21801229,1610612762,UTA,Utah,50-32,26,40,31,...,0,0,0,137,0.443,0.879,0.400,31,57,17
2457,2019-04-10,10,21801229,1610612746,LAC,LA,48-34,39,31,32,...,0,0,0,143,0.509,0.767,0.429,34,52,12
2458,2019-04-10,11,21801230,1610612758,SAC,Sacramento,39-43,39,48,26,...,0,0,0,131,0.521,0.813,0.419,25,35,10
2459,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,0,0,136,0.582,0.727,0.583,19,44,12

In [4]:
df1["TEAM_CITY_NAME"].replace({"LA": "Los Angeles", "L.A.": "Los Angeles"}, inplace=True)
df1

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,0,87,0.391,0.609,0.192,18,47,16
1,2018-10-16,1,21800001,1610612738,BOS,Boston,1-0,21,26,30,...,0,0,0,105,0.433,0.714,0.297,21,55,14
2,2018-10-16,2,21800002,1610612760,OKC,Oklahoma City,0-1,23,24,32,...,0,0,0,100,0.363,0.649,0.270,21,45,14
3,2018-10-16,2,21800002,1610612744,GSW,Golden State,1-0,31,26,26,...,0,0,0,108,0.442,0.944,0.269,28,58,21
4,2018-10-17,1,21800003,1610612749,MIL,Milwaukee,1-0,36,31,26,...,0,0,0,113,0.494,0.750,0.412,26,57,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2019-04-10,9,21801228,1610612743,DEN,Denver,54-28,22,29,22,...,0,0,0,99,0.448,0.647,0.303,23,53,12
2456,2019-04-10,10,21801229,1610612762,UTA,Utah,50-32,26,40,31,...,0,0,0,137,0.443,0.879,0.400,31,57,17
2457,2019-04-10,10,21801229,1610612746,LAC,Los Angeles,48-34,39,31,32,...,0,0,0,143,0.509,0.767,0.429,34,52,12
2458,2019-04-10,11,21801230,1610612758,SAC,Sacramento,39-43,39,48,26,...,0,0,0,131,0.521,0.813,0.419,25,35,10
2459,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,0,0,136,0.582,0.727,0.583,19,44,12

In [5]:
df2

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2019-04-13,away,Orlando,Toronto,1610612753,41800111,41.2,317.0,406.0,420.0,...,212.80,-106.20,213.5,212.5,-105.0,-110.0,104,3,W,205
1,2019-04-13,home,Toronto,Orlando,1610612761,41800111,58.8,-400.0,-477.0,-475.0,...,212.80,-107.80,213.5,212.5,-104.0,-115.0,101,-3,L,205
2,2019-04-13,away,Brooklyn,Philadelphia,1610612751,41800121,51.2,184.0,286.0,290.0,...,228.58,-106.00,232.0,227.5,-101.0,-110.0,111,9,W,213
3,2019-04-13,home,Philadelphia,Brooklyn,1610612755,41800121,48.8,-220.0,-326.0,-320.0,...,228.58,-109.00,232.0,227.5,-105.0,-115.0,102,-9,L,213
4,2019-04-13,away,L.A. Clippers,Golden State,1610612746,41800141,48.5,797.0,874.0,950.0,...,233.17,-107.00,234.0,230.5,-102.0,-110.0,104,-17,L,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,2019-06-07,home,Golden State,Toronto,1610612744,41800404,50.2,-253.0,-216.0,NaN,...,215.00,-105.00,215.5,214.5,-105.0,-105.0,92,-13,L,197
160,2019-06-10,away,Golden State,Toronto,1610612744,41800405,59.7,135.0,-104.0,-105.0,...,216.08,-108.17,217.0,211.5,-104.0,-115.0,106,1,W,211
161,2019-06-10,home,Toronto,Golden State,1610612761,41800405,40.3,-155.0,-106.0,-105.0,...,216.08,-106.83,217.0,211.5,-105.0,-110.0,105,-1,L,211
162,2019-06-13,away,Toronto,Golden State,1610612761,41800406,54.2,151.0,125.0,125.0,...,211.75,-107.50,212.5,211.0,-102.0,-115.0,114,4,W,224
163,2019-06-13,home,Golden State,Toronto,1610612744,41800406,45.8,-175.0,-138.0,-135.0,...,211.75,-107.50,212.5,211.0,-105.0,-110.0,110,-4,L,224

In [6]:
sub_df = df2["TeamId"]

In [7]:
#merged_df = df1.merge(sub_df, how="outer")
#merged_df
merged_df = df1.merge(sub_df, how="outer", left_on="TEAM_ID", right_on="TeamId")
merged_df

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,TeamId
0,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09
1,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09
2,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09
3,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09
4,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14591,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,0,136,0.582,0.727,0.583,19,44,12,1.610613e+09
14592,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,0,136,0.582,0.727,0.583,19,44,12,1.610613e+09
14593,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,0,136,0.582,0.727,0.583,19,44,12,1.610613e+09
14594,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,0,136,0.582,0.727,0.583,19,44,12,1.610613e+09
14595,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,0,136,0.582,0.727,0.583,19,44,12,1.610613e+09

In [8]:
merged_update_df = merged_df.drop_duplicates()
merged_update_df

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,TeamId
0,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09
12,2018-10-18,1,21800014,1610612755,PHI,Philadelphia,1-1,38,27,37,...,0,0,127,0.473,0.900,0.333,30,55,13,1.610613e+09
24,2018-10-20,4,21800029,1610612755,PHI,Philadelphia,2-1,30,33,26,...,0,0,116,0.479,0.900,0.515,33,46,10,1.610613e+09
36,2018-10-23,1,21800049,1610612755,PHI,Philadelphia,2-2,28,36,30,...,0,0,132,0.500,0.714,0.326,32,48,11,1.610613e+09
48,2018-10-24,8,21800059,1610612755,PHI,Philadelphia,2-3,34,30,17,...,0,0,108,0.413,0.700,0.324,29,50,16,1.610613e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14516,2019-04-03,11,21801175,1610612757,POR,Portland,50-28,28,34,24,...,0,0,116,0.511,0.625,0.323,28,54,13,1.610613e+09
14532,2019-04-05,11,21801190,1610612757,POR,Portland,50-29,29,21,37,...,0,0,110,0.488,0.800,0.345,24,40,14,1.610613e+09
14548,2019-04-07,12,21801206,1610612757,POR,Portland,51-29,29,31,26,...,0,0,115,0.461,0.828,0.321,22,58,16,1.610613e+09
14564,2019-04-09,11,21801219,1610612757,POR,Portland,52-29,26,27,20,...,0,0,104,0.411,0.864,0.297,18,45,12,1.610613e+09
14580,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,0,136,0.582,0.727,0.583,19,44,12,1.610613e+09

In [9]:
merged_update_df['Playoffs'] = np.where(merged_update_df['TeamId']>1, "1", "0")
merged_update_df

C:\Users\britt\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,TeamId,Playoffs
0,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,87,0.391,0.609,0.192,18,47,16,1.610613e+09,1
12,2018-10-18,1,21800014,1610612755,PHI,Philadelphia,1-1,38,27,37,...,0,127,0.473,0.900,0.333,30,55,13,1.610613e+09,1
24,2018-10-20,4,21800029,1610612755,PHI,Philadelphia,2-1,30,33,26,...,0,116,0.479,0.900,0.515,33,46,10,1.610613e+09,1
36,2018-10-23,1,21800049,1610612755,PHI,Philadelphia,2-2,28,36,30,...,0,132,0.500,0.714,0.326,32,48,11,1.610613e+09,1
48,2018-10-24,8,21800059,1610612755,PHI,Philadelphia,2-3,34,30,17,...,0,108,0.413,0.700,0.324,29,50,16,1.610613e+09,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14516,2019-04-03,11,21801175,1610612757,POR,Portland,50-28,28,34,24,...,0,116,0.511,0.625,0.323,28,54,13,1.610613e+09,1
14532,2019-04-05,11,21801190,1610612757,POR,Portland,50-29,29,21,37,...,0,110,0.488,0.800,0.345,24,40,14,1.610613e+09,1
14548,2019-04-07,12,21801206,1610612757,POR,Portland,51-29,29,31,26,...,0,115,0.461,0.828,0.321,22,58,16,1.610613e+09,1
14564,2019-04-09,11,21801219,1610612757,POR,Portland,52-29,26,27,20,...,0,104,0.411,0.864,0.297,18,45,12,1.610613e+09,1
14580,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0,136,0.582,0.727,0.583,19,44,12,1.610613e+09,1

In [10]:
merged_update_df.to_csv("merged18_df.csv", index=False)

In [12]:
merged_update_df = merged_update_df.drop(columns=['TeamId', 'Unnamed: 0', 'TEAM_ABBREVIATION','TEAM_CITY_NAME','TEAM_WINS_LOSSES','PTS_OT5','PTS_OT6','PTS_OT7','PTS_OT8',
'PTS_OT9', 'PTS_OT10'], axis=1)
merged_update_df

,GAME_SEQUENCE,GAME_ID,TEAM_ID,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,Playoffs
0,1,21800001,1610612755,21,21,24,21,0,0,0,0,87,0.391,0.609,0.192,18,47,16,1
12,1,21800014,1610612755,38,27,37,25,0,0,0,0,127,0.473,0.900,0.333,30,55,13,1
24,4,21800029,1610612755,30,33,26,27,0,0,0,0,116,0.479,0.900,0.515,33,46,10,1
36,1,21800049,1610612755,28,36,30,26,12,0,0,0,132,0.500,0.714,0.326,32,48,11,1
48,8,21800059,1610612755,34,30,17,27,0,0,0,0,108,0.413,0.700,0.324,29,50,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14516,11,21801175,1610612757,28,34,24,30,0,0,0,0,116,0.511,0.625,0.323,28,54,13,1
14532,11,21801190,1610612757,29,21,37,23,0,0,0,0,110,0.488,0.800,0.345,24,40,14,1
14548,12,21801206,1610612757,29,31,26,29,0,0,0,0,115,0.461,0.828,0.321,22,58,16,1
14564,11,21801219,1610612757,26,27,20,31,0,0,0,0,104,0.411,0.864,0.297,18,45,12,1
14580,11,21801230,1610612757,30,32,36,38,0,0,0,0,136,0.582,0.727,0.583,19,44,12,1

In [13]:
merged_update_df.to_csv("newmerged18_df.csv", index=False)